#app {
  font-family: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-height: 850px;
  margin: 0 auto;
}

a {
  &.active {
    color: orange
  }
}

nav {
  padding-top: 20px;
}